name: Test example negative
on:
#  # Uncomment when test added first time to register workflow and comment it back after workflow would be registered
#  #
#  # Added pull_request to register workflow from the PR.
#  # Read more https://stackoverflow.com/questions/63362126/github-actions-how-to-run-a-workflow-created-on-a-non-master-branch-from-the-wo
#  pull_request: {}
  workflow_dispatch: {}

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        run: echo "Do setup"


test:
    runs-on: ubuntu-latest
    needs: [setup]
    continue-on-error: true
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set outputs
        id: masked
        run: |
          echo '::add-mask::test'
          echo This is a test
          echo "masked-result=test" >> $GITHUB_OUTPUT
          echo "non-masked-result=example" >> $GITHUB_OUTPUT

      - uses: ./
        id: current
        with:
          param1: 'false'

    outputs:
      masked-result: "${{ steps.masked.outputs.masked-result }}"
      masked-non-masked-result: "${{ steps.masked.outputs.non-masked-result }}"

  assert:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: nick-fields/assert-action@v1
        with:
          expected: ''
          actual: "${{ needs.test.outputs.masked-result }}"

      - uses: nick-fields/assert-action@v1
        with:
          expected: 'example'
          actual: "${{ needs.test.outputs.non-masked-result }}"

  teardown:
    runs-on: ubuntu-latest
    needs: [assert]
    if: ${{ always() }}
    steps:
      - name: Tear down
        run: echo "Do Tear down"
